{% extends 'base.html' %}
{%load static %}

{% block main %}
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 110px">
  <div class='container'>
    <section class="p-4 mb-4 align-items-center flex-column">
      <nav class='navbar'>
        <ul class="pagination pr-2">
          {% if page.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{{surl}}page={{ page.previous_page_number }}">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="{{surl}}page={{ page.previous_page_number }}">
            {{ page.previous_page_number }}</a></li>
          {% endif %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page.number }}<span class="visually-hidden">(current)</span></a>
          </li>
          {% if page.has_next %}
          <li class="page-item"><a class="page-link" href="{{surl}}page={{ page.next_page_number }}">
            {{ page.next_page_number }} </a></li>
          <li class="page-item">
            <a class="page-link" href="{{surl}}page={{ page.next_page_number }}">Next</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex pe-2" role="search" action="{% url 'allemployee' %}" method="get">
          {% csrf_token %}
          <input class="form-control me-2" type="text" name="p" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </nav>
    </section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">States</th>
          <th scope="col">Edit Details</th>
        </tr>
      </thead>
      <tbody>
        {% for e in page.object_list %}
        <tr>
          <td>{{e.username}}</td>
          <td>{{e.name}}</td>
          <td>{{e.email}}</td>
          <td>{{e.state}}</td>
          <td><!-- Button trigger modal -->
            {% if not e.is_superuser %}
            <button type="button" class="btn btn-danger" data-mdb-toggle="modal"
              data-mdb-target="#followupModal{{e.username}}">
              Edit Details
            </button>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="followupModal{{e.username}}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Details - {{e.username}}</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" >
                    <form action="/allemployee" method="POST">
                        {% csrf_token %}
                        <div class="align-items-center mb-3 pb-0">
                          {% comment %} <i><img src="https://priyankgupta.co.in/wp-content/uploads/2020/05/logo-100px.jpg"
                              alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /></i> {% endcomment %}
                          <div class="text-center h2 fw-bold mb-0">Edit Here.</div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" name="username" id="form3Example1m" value="{{e.username}}" class="form-control form-control-lg"
                                readonly />
                              <label class="form-label" for="form3Example1m">Username</label>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline mb-4">
                              <input type="text" name="email" id="form3Example97" class="form-control form-control-lg" value="{{e.email}}" readonly />
                              <label class="form-label" for="form3Example97">Email ID</label>
                            </div>
                          </div>
                        </div>
            
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" name="name" id="form3Example1n" value="{{e.name}}"
                                class="form-control form-control-lg" required />
                              <label class="form-label" for="form3Example1n">Full Name</label>
                            </div>
                          </div>
            
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="number" name="mobile" value="{{e.mobile}}" id="form3Example1n1" class="form-control form-control-lg"
                                title="Please, Enter Valid Mobile Number." pattern="[1-9]{1}[0-9]{9}" required />
                              <label class="form-label" for="form3Example1n1">Contact Number</label>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" name="fathername" id="form3Example1n1" value="{{e.fathername}}" class="form-control form-control-lg"
                              required />
                            <label class="form-label" for="form3Example1n1">Father's Name</label>
                          </div>
                        </div>
            
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="number" name="aadhar" id="form3Example1n1" value="{{e.aadhar}}" class="form-control form-control-lg"
                              title="Please, Enter Valid Aadhar Number." pattern="[1-9]{1}[0-9]{11}" required />
                            <label class="form-label" for="form3Example1n1">Aadhar Number</label>
                          </div>
                        </div>
                      </div>
            
            
                      <div class = "row">
                        <div class="dropdown col-md-6 mb-4">
                          <div class="form-outline">
                            <button class="btn" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
                              aria-expanded="false">
                              <label class="form-label" for="form3Example1n1">Select the States</label>
                            </button>
                            <ul class="dropdown-menu" style="height:300px; overflow-y:auto;" aria-labelledby="dropdownMenuButton">
                                {% for n in e.state %}
                                <li>
                                  <a class="dropdown-item" href="#">
                                    <div class="form-check">
                                      <input class="form-check-input" name="selectedstates" type="checkbox" value="{{n}}"
                                        id="Checkme1" checked/>
                                      <label class="form-check-label" for="Checkme1">{{n}}</label>
                                    </div>
                                  </a>
                                </li>
                                {% endfor %}
                                {% for s in states %}
                                  {% if s.state not in e.state %}
                              <li>
                                <a class="dropdown-item" href="#">
                                  <div class="form-check">
                                    <input class="form-check-input" name="selectedstates" type="checkbox" value="{{s.state}}"
                                      id="Checkme1" />
                                    <label class="form-check-label" for="Checkme1">{{s.state}}</label>
                                  </div>
                                </a>
                              </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        </div>

                        <div class="col-md-6 mb-4">
                          <label class="form-label" for="form3Example1n1">Select Role</label>
                          <select name="role" placeholder="Role"
                            class="form-control select-input placeholder-active active focused" required>
                            {% if e.is_staff %}
                            <option value="Employee">Staff</option>
                            <option value="Staff">Employee</option>
                            {% else %}
                            <option value="Employee">Employee</option>
                            <option value="Staff">Staff</option>
                            {% endif %}
                          </select>
                        </div>

                      </div>
            
                        <div class="d-flex justify-content-end pt-3">
                          <input class="btn btn-danger btn-lg ms-2" type="submit" value="Submit" />
                        </div>
            
                      </form>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{surl}}page={{ page.previous_page_number }}">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{{surl}}page={{ page.previous_page_number }}">
          {{ page.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">{{ page.number }}<span class="visually-hidden">(current)</span></a>
        </li>
        {% if page.has_next %}
        <li class="page-item"><a class="page-link" href="{{surl}}page={{ page.next_page_number }}">
          {{ page.next_page_number }}</a></li>
        <li class="page-item">
          <a class="page-link" href="{{surl}}page={{ page.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</main>

{%endblock main%}