{% extends 'base.html' %}
{% load static %}

{% block main %}
<br>
<br>
<br>
<main style="margin-top: 110px">
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <h3 id="form-title">Password reset complete</h3>
        </div>
        <p>Your password has been set. You may go ahead and log in now.</p>

        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            <a href="{% url 'login' %}" class="ml-2">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
